<section class="intro">
  <img src="./../../assets/img/myphoto.jpg" alt="MyPhoto">
  <h2 i18n='@@about_name'>Andrey Shorstkin</h2>
  <p class="text" i18n='@@about_par_1'>My name is Andrey. I am European Union citizen and was born in Riga, Latvia. I am
    speaking on 3
    languages. It is English, Russian and Latvian. I have started learning programming in 15 years old and I immediately
    realized that programming is the thing of my life. I have had several hobbies like gym, finance sciences and rock
    climbing. I am already have had experience in working in several companies like my last job in Arcona ltd. where I
    was front-end developer and designer. Also, I have experience in working and studying in different fields of
    computer science: Web Development, Mechanical engineering with Robotics and desktop application creation with Object
    Pascal е.
    <br>
    <br>
    I have finish GSCE A level program where I was studying Economics, Mathematics in depth and Geography(Human and
    Physical)
    <br>
    Nowadays I am studying in the Essex University and I am taking BSc degree in Computer Science. As an developer I am
    focus on Full stack development in web, but personally I am quite interesting in AI and Machine Learning and Big
    data
  </p>
</section>

<section class="skills">
  <h3>Skills</h3>
  <mat-tab-group>
    <mat-tab label="Front-end">
      <div class="tech">
        <div class="element">
          <img src="./../../assets/img/tech/JS.jpg" alt="">
          <h4>JavaScript</h4>
        </div>
        <div class="element">
          <img src="./../../assets/img/tech/html.jpg" alt="">
          <h4>HTML</h4>
        </div>
        <div class="element">
          <img src="./../../assets/img/tech/css.jpg" alt="">
          <h4>CSS</h4>
        </div>
        <div class="element">
          <img src="./../../assets/img/tech/pug.jpg" alt="">
          <h4>Pug</h4>
        </div>
        <div class="element">
          <img src="./../../assets/img/tech/sass.jpg" alt="">
          <h4>Sass</h4>
        </div>
        <div class="element">
          <img src="./../../assets/img/tech/boot.jpg" alt="">
          <h4>Bootstrap</h4>
        </div>
        <div class="element">
          <img src="./../../assets/img/tech/angular.jpg" alt="">
          <h4>Angular</h4>
        </div>
        <div class="element">
          <img src="./../../assets/img/tech/NgRx.jpg" alt="">
          <h4>NgRx</h4>
        </div>
        <div class="element">
          <img src="./../../assets/img/tech/TS.jpg" alt="">
          <h4>TypeScript</h4>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Back-end">
      <div class="tech">
        <div class="element">
          <img src="./../../assets/img/tech/nodejs.jpg" alt="">
          <h4>Node.js</h4>
        </div>
        <div class="element">
          <img src="./../../assets/img/tech/express.jpg" alt="">
          <h4>Express.js</h4>
        </div>
        <div class="element">
          <img src="./../../assets/img/tech/TS.jpg" alt="">
          <h4>TypeScript</h4>
        </div>
        <div class="element">
          <img src="./../../assets/img/tech/Mongo.jpg" alt="">
          <h4>MongoDb</h4>
        </div>
        <div class="element">
          <img src="./../../assets/img/tech/JS.jpg" alt="">
          <h4>JavaScript</h4>
        </div>
        <div class="element">
          <img src="./../../assets/img/tech/Mysql.jpg" alt="">
          <h4>MySQl</h4>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="UI/UX Design">
      <div class="tech">
        <div class="element">
          <img src="./../../assets/img/tech/xd.jpg" alt="">
          <h4>Adobe XD</h4>
        </div>
        <div class="element">
          <img src="./../../assets/img/tech/ps.jpg" alt="">
          <h4>Photoshop</h4>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>

<section class="education">
  <h2 i18n='@@about_educ_header'>Education</h2>
  <div class="unit">
    <img src="../../assets/img/riga80.jpg" alt="">
    <div class="content">
      <h3 i18n='@@about_educ_s_1'>Rigas 80. Secondary School</h3>
      <p i18n='@@about_educ_des_1'>
        Rigas 80 is a school in Latvia where I received basic education up to grade 10. In total, we studied 14 subjects
        from the humanities such as Russian, Latvian, English and World History to the exact sciences like chemistry,
        physics and mathematics
      </p>
    </div>
  </div>
  <div class="unit">
    <img src="../../assets/img/prog.jpg" alt="">
    <div class="content">
      <h3 i18n='@@about_educ_s_2'>Progmeistars </h3>
      <p i18n='@@about_educ_des_2'> In Progmeistars, I studied the basics of Computer Science based on 2 programming languages: Pascal and Object
        Pascal (on which we got OOP and on which we created applications for Windows), the course also included the
        basics of algorithms and basic knowledge of HTML and CSS
      </p>
    </div>
  </div>
  <div class="unit">
    <img src="../../assets/img/earsclife.jpg" alt="">
    <div class="content">
      <h3 i18n='@@about_educ_s_3'>Earlscliffe college</h3>
      <p i18n='@@about_educ_des_3'> In EC, I went through an A level training program, in which I studied in depth 5 subjects: Economics,
        Mathematics, Physics, Russian and Geography, after this training program I have accumulated a comprehensive
        supply of knowledge in such fields as finance, social sciences, as well as deep understanding of mathematics as
        a science and physics which operates on it
      </p>
    </div>
  </div>
  <div class="unit">
    <img src="../../assets/img/essex.jpg" alt="">
    <div class="content">
      <h3 i18n='@@about_educ_s_4'>Essex University</h3>
      <p i18n='@@about_educ_des_4'> Since 2019, I began studying Computer Science at Essex University, where I plan to delve into topics such as
        artificial intelligence and machine learning
      </p>
    </div>
  </div>
</section>

<section class="contact">
  <div class="contact__btn"><a routerLink="/contact"><b i18n='@@about_contact'>CONTACT</b></a></div>
</section>
