<section>
  <h1>Экономика</h1>
  <mat-form-field>
    <mat-label>Фильтр по статьям</mat-label>
    <mat-select>
      <mat-option> Микро- экономика</mat-option>
      <mat-option> Макро- экономика</mat-option>
      <mat-option> Финансы</mat-option>
      <mat-option> Инвестиции</mat-option>
    </mat-select>
  </mat-form-field>

  <article *ngFor="let el of articleList ">
    <img src="/assets/img/blog/new_art_1.jpg" alt="imageOfArticle" routerLink="/blog/article">
    <h2>{{el.title}}</h2>
    <p>{{ el.description}}</p>
  </article>


  <button mat-stroked-button >Предыдущая</button>
  <button mat-stroked-button>Следущая</button>
</section>
