

article{
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .art_image{
    background-image: url("/assets/img/blog/art-1.jpg");
    background-position: 30% 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    margin-top: 50px;
  }
  h2{
    margin-top: 25px;
    margin-bottom: 45px;
    font-family: Poppins, sans-serif;
    font-weight: lighter;
  }
  p{
    width: 60%;
  }
  app-article-comment{
    margin-left: 10%;
    margin-top: 40px;
  }
}


@media screen and (max-width: 426px) {
  article{
    .art_image{
      height: 400px;
    }
    h2{
      width: 360px;
    }
    p{
      width: 80%;
    }
  }
}

@media screen and (max-width: 321px) {
  article{
    .art_image{
      height: 300px;
    }
    h2{
      width: 300px;
    }
    p{
      width: 80%;
    }
  }
}
