.page {
  display: flex;
  flex-direction: row;
  justify-self: center;
  width: 100%;
  margin-top: 200px;
  margin-bottom: 200px;
  margin-left: 40px;

  section {
    width: 600px;
    display: flex;
    flex-direction: column;
    border: 0.5px solid black;
    border-radius: 20px;
    margin-right: 20px;
    padding: 20px;

  }

  .signin {
    height: 300px;
  }

  .signup {
    border: none;

    mat-expansion-panel {
      .mat-expansion-panel-body {
        display: flex;
        flex-direction: column;

        form {
          mat-form-field {
            width: 500px;
          }

          button {
            width: 200px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 769px) {
  .page {
    flex-direction: column;
  }
}
@media screen and (max-width: 426px) {
  .page {
    flex-direction: column;
    margin-left: 15px;
    section{
      width: 350px;
    }

    .signup {
      mat-expansion-panel {
        .mat-expansion-panel-body {
          form {
            mat-form-field {
              width: 240px;
            }
          }
        }
      }
    }
  }

}
