<div class="page">
  <section class="signin">
    <h2>Логин</h2>
    <mat-form-field class="">
      <mat-label>Е-майл</mat-label>
      <input matInput placeholder="Ведите е-майл">
    </mat-form-field>
    <mat-form-field class="">
      <mat-label>Пароль</mat-label>
      <input matInput placeholder="Ведите пароль">
    </mat-form-field>
    <button mat-stroked-button color="primary"  routerLink="/blog/admin">Воити </button>
  </section>

  <section class="signup">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Регистрация
        </mat-panel-title>
        <mat-panel-description>
          Нажмите чтобы зарегестрироваться
        </mat-panel-description>
      </mat-expansion-panel-header>

      <h2>Регистраця</h2>
      <mat-form-field class="">
        <mat-label>Имя</mat-label>
        <input matInput placeholder="Ведите имя">
      </mat-form-field>
      <mat-form-field class="">
        <mat-label>Фамилия</mat-label>
        <input matInput placeholder="Ведите фамилию">
      </mat-form-field>
      <mat-form-field class="">
        <mat-label>Имя пользователя</mat-label>
        <input matInput placeholder="Ведите имя пользователя">
      </mat-form-field>
      <mat-form-field class="">
        <mat-label>Е-майл</mat-label>
        <input matInput placeholder="Ведите е-майл">
      </mat-form-field>
      <mat-form-field class="">
        <mat-label>Пароль</mat-label>
        <input matInput placeholder="Ведите пароль">
      </mat-form-field>
      <mat-form-field class="">
        <mat-label>Подтвердить пароль</mat-label>
        <input matInput placeholder="Ведите пароль еще раз">
      </mat-form-field>
      <button mat-stroked-button routerLink="/blog/user-page">Зарегистрироваться </button>
    </mat-expansion-panel>
  </section>
</div>
