<div class="page">
  <mat-spinner *ngIf='spinner'></mat-spinner>
  <section class="signin">
    <h2>Логин</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <mat-form-field class="">
        <mat-label>Е-майл</mat-label>
        <input matInput placeholder="Ведите е-майл" type="email" formControlName="email">
        <mat-error *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">Е-майл введён не верно</mat-error>
      </mat-form-field>
      <mat-form-field class="">
        <mat-label>Пароль</mat-label>
        <input matInput placeholder="Ведите пароль" type="password" formControlName="passwordLogin">
        <mat-error *ngIf="!loginForm.get('passwordLogin').valid && loginForm.get('passwordLogin').touched">Ведите пароль</mat-error>
      </mat-form-field>
      <button mat-stroked-button color="primary" [disabled]="!loginForm.valid">Воити </button>
    </form>
    <mat-error #errLogin ></mat-error>
  </section>

  <section class="signup">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Регистрация
        </mat-panel-title>
        <mat-panel-description>
          Нажмите чтобы зарегестрироваться
        </mat-panel-description>
      </mat-expansion-panel-header>

      <h2>Регистраця</h2>
      <form [formGroup]="signupForm" (ngSubmit)="onSignUp()">
        <mat-form-field class="">
          <mat-label>Имя</mat-label>
          <input matInput placeholder="Ведите имя" type="name"formControlName="name">
          <mat-error *ngIf="!signupForm.get('name').valid && signupForm.get('name').touched">Имя должно быть минимум 2 символа</mat-error>
        </mat-form-field>
        <mat-form-field class="">
          <mat-label>Фамилия</mat-label>
          <input matInput placeholder="Ведите фамилию" type="surname" formControlName="surname">
          <mat-error *ngIf="!signupForm.get('surname').valid && signupForm.get('surname').touched">Фамилия должна быть минимум 2 символа</mat-error>
        </mat-form-field>
        <mat-form-field class="">
          <mat-label>Имя пользователя</mat-label>
          <input matInput placeholder="Ведите имя пользователя" type="username" formControlName="username">
          <mat-error *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched">Имя пользователя минимум 4 симвла</mat-error>
        </mat-form-field>
        <mat-form-field class="">
          <mat-label>Е-майл</mat-label>
          <input type="email" matInput  placeholder="Ведите е-майл" type="email" formControlName="email">
          <mat-error *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">Е-майл введён не верно</mat-error>
        </mat-form-field>
        <div formGroupName="passData">
          <mat-form-field class="">
            <mat-label>Пароль</mat-label>
            <input type="password" matInput placeholder="Ведите пароль" type="password" formControlName="password">
            <mat-error *ngIf="!signupForm.get('passData.password').valid && signupForm.get('passData.password').touched">Минимальная длинна пароля 5 симвалов</mat-error>
          </mat-form-field>
          <mat-form-field class="">
            <mat-label>Повторить пароль</mat-label>
            <input type="password" matInput placeholder="Ведите пароль еще раз" formControlName="confirmPassword">
            <mat-error *ngIf="!signupForm.get('passData.confirmPassword').valid && signupForm.get('passData.confirmPassword').touched">Ведите пароль</mat-error>
          </mat-form-field>
        </div>
        <mat-error *ngIf="!signupForm.get('passData').valid && signupForm.get('passData').touched">Пароль не совпадает</mat-error>
        <mat-error #errReg ></mat-error>
        <button mat-stroked-button [disabled]="!signupForm.valid">Зарегистрироваться </button>
        <div #success class="text-successful"></div>
      </form>
    </mat-expansion-panel>
  </section>
</div>
