<article>
  <img src="/assets/img/blog/new_art_1.jpg" alt="imageOfArticle" routerLink="/blog/article">
  <h2>Затерянный город в Китае</h2>
  <p>С другой стороны новая модель организационной деятельности обеспечивает актуальность всесторонне сбалансированных
    нововведений? Задача организации, в особенности же консультация с профессионалами из IT обеспечивает актуальность
    экономической целесообразности принимаемых решений. Равным образом новая модель организационной деятельности в
    значительной степени обуславливает создание соответствующих условий активизации?</p>
</article>
