$font-main: poppins, sans-serif; //text font


article{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img{
    width: 800px;
    height: 400px;
    border-radius: 20px;
    border: 1px solid black;
  }
  h2{
    font-family: $font-main;
    margin-top: 25px;
    margin-bottom: 45px;
  }
  P{
    width: 800px;
    font-family: $font-main;
  }
}
