<div class="page">
  <h1>Ваш Профиль</h1>
  <div class="user_info">
    <div class="profile_image">
      <div class="user_image"></div>
      <div class="button">Сменить аввтврку</div>
    </div>
    <ul class="user_data">
      <h2>Информация</h2>
      <li>
        <div class="name">Катя</div>
        <hr>
        <div class="label">Ваше Имя</div>
        <div class="button">Сменить Имя</div>
      </li>
      <li>
        <div class="name">Шорсткина</div>
        <hr>
        <div class="label">Ваше Фамилия</div>
        <div class="button">Сменить Фамилию</div>
      </li>
      <li>
        <div class="name">andrejs232@gmail.com</div>
        <hr>
        <div class="label">Ваш Е-майл</div>
        <div class="button">Сменить Е-майл</div>
      </li>
      <li>
        <div class="name">**************</div>
        <hr>
        <div class="label">Ваше Пароль</div>
        <div class="button">Сменить Пароль</div>
      </li>
    </ul>
  </div>
</div>
