<div class="page">

  <section class="edit_section" *ngIf="editOnOff">
    <h2>Меню редактирования профиля</h2>
    <form [formGroup]="editForm" (ngSubmit)="onEdit()">

      <mat-form-field *ngIf="!(editmode === 'email')">
        <mat-label>{{ editName }}</mat-label>
        <input matInput [placeholder]="'Введите ' + editName" [value]='editValue' formControlName="userFullName">
        <mat-error *ngIf="!editForm.get('userFullName').valid && editForm.get('userFullName').touched">Данные введины не
          верно</mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="editmode === 'email'">
        <mat-label>{{ editName }}</mat-label>
        <input matInput [placeholder]="'Введите ' + editName" [value]='editValue' formControlName="email">
        <mat-error *ngIf="!editForm.get('email').valid && editForm.get('email').touched">Е-майл введён не верно
        </mat-error>
      </mat-form-field>

      <button mat-stroked-button color="primary" [disabled]="!editForm.controls.email.valid"
        *ngIf="editmode === 'email'">Изменить </button>
      <button mat-stroked-button color="primary" [disabled]="!editForm.controls.userFullName.valid"
        *ngIf="!(editmode === 'email')">Изменить </button>
      <button mat-stroked-button color="primary" (click)="editFormCloseOpen(false)">Отмена </button>
    </form>
    <mat-error #errLogin></mat-error>
  </section>

  <mat-spinner *ngIf='spinner'></mat-spinner>
  <h1>Ваш Профиль</h1>
  <div class="user_info">
    <div class="profile_image" [formGroup]="imageForm">
      <div class="user_image" *ngIf="!(imagePreview !== '' && imagePreview && imageForm.get('image').valid)">
        <img [src]="imgUrl ? imgUrl : '/assets/img/blog/unnamed.png'" alt="image">
      </div>
      <div class="user_image" *ngIf="imagePreview !== '' && imagePreview && imageForm.get('image').valid">
        <img [src]="imagePreview" alt="image">
      </div>
      <button class="button" (click) = "filePicker.click()" *ngIf="!(imagePreview !== '' && imagePreview && imageForm.get('image').valid)">Сменить аввтврку</button>
      <input type="file" #filePicker (change) = "onImagePicked($event)">
      <div class="manage">
        <button class="button green" *ngIf="imagePreview !== '' && imagePreview && imageForm.get('image').valid" (click) = "saveImage()">Сохранить аватарку</button>
        <button class="button red" *ngIf="imagePreview !== '' && imagePreview && imageForm.get('image').valid" (click) = "cancelImage()">Отмена сохранения</button>
      </div>
    </div>
    <ul class="user_data">
      <h2>Информация</h2>
      <li>
        <div class="data">
          <div class="name" #name></div>
          <hr>
          <div class="label">Ваше Имя</div>
        </div>
        <button class="button" (click)="editFormCloseOpen(true, 'Имя', 'name')">Сменить Имя</button>
      </li>
      <li>
        <div class="data">
          <div class="name" #surname></div>
          <hr>
          <div class="label">Ваше Фамилия</div>
        </div>
        <button class="button" (click)="editFormCloseOpen(true, 'Фамилию', 'surname')">Сменить Фамилию</button>
      </li>
      <li>
        <div class="data">
          <div class="name" #email></div>
          <hr>
          <div class="label">Ваш Е-майл</div>
        </div>
        <button class="button" (click)="editFormCloseOpen(true, 'Е-майл', 'email')">Сменить Е-майл</button>
      </li>
      <li>
        <div class="data">
          <div class="name">**************</div>
          <hr>
          <div class="label">Ваше Пароль</div>
        </div>
        <button class="button" (click)="editFormCloseOpen(true, 'Пароль', 'password' )">Сменить Пароль</button>
      </li>
    </ul>
  </div>

  <section class="comments">

    <h2 class="section_name">Ваши коментарии</h2>

    <ul class="comment_list">
      <li class="comment">
        <div class="label">
          <img src="/assets/img/blog/eco_section.jpg" alt="article_image" class="article_image">
          <h2>Реструктуризация финансовых рынков</h2>
        </div>
        <div class="comment_body">
          С другой стороны выбранный нами инновационный путь требует от нас анализа системы масштабного изменения ряда
          параметров. Дорогие друзья, консультация с профессионалами из IT представляет собой интересный эксперимент
          проверки позиций, занимаемых участниками в отношении поставленных задач! Не следует, однако, забывать о том,
          что
          социально-экономическое развитие влечет за собой процесс внедрения и модернизации системы масштабного
          изменения
          ряда параметров.
        </div>
      </li>

      <li class="comment">
        <div class="label">
          <img src="/assets/img/blog/eco_section.jpg" alt="article_image" class="article_image">
          <h2>Реструктуризация финансовых рынков</h2>
        </div>
        <div class="comment_body">
          С другой стороны выбранный нами инновационный путь требует от нас анализа системы масштабного изменения ряда
          параметров. Дорогие друзья, консультация с профессионалами из IT представляет собой интересный эксперимент
          проверки позиций, занимаемых участниками в отношении поставленных задач! Не следует, однако, забывать о том,
          что
          социально-экономическое развитие влечет за собой процесс внедрения и модернизации системы масштабного
          изменения
          ряда параметров.
        </div>
      </li>

      <li class="comment">
        <div class="label">
          <img src="/assets/img/blog/eco_section.jpg" alt="article_image" class="article_image">
          <h2>Реструктуризация финансовых рынков</h2>
        </div>
        <div class="comment_body">
          С другой стороны выбранный нами инновационный путь требует от нас анализа системы масштабного изменения ряда
          параметров. Дорогие друзья, консультация с профессионалами из IT представляет собой интересный эксперимент
          проверки позиций, занимаемых участниками в отношении поставленных задач! Не следует, однако, забывать о том,
          что
          социально-экономическое развитие влечет за собой процесс внедрения и модернизации системы масштабного
          изменения
          ряда параметров.
        </div>
      </li>

      <li class="comment">
        <div class="label">
          <img src="/assets/img/blog/eco_section.jpg" alt="article_image" class="article_image">
          <h2>Реструктуризация финансовых рынков</h2>
        </div>
        <div class="comment_body">
          С другой стороны выбранный нами инновационный путь требует от нас анализа системы масштабного изменения ряда
          параметров. Дорогие друзья, консультация с профессионалами из IT представляет собой интересный эксперимент
          проверки позиций, занимаемых участниками в отношении поставленных задач! Не следует, однако, забывать о том,
          что
          социально-экономическое развитие влечет за собой процесс внедрения и модернизации системы масштабного
          изменения
          ряда параметров.
        </div>
      </li>
    </ul>
  </section>
</div>
