<div class="page">
  <mat-spinner *ngIf='spinner'></mat-spinner>
  <h1>Ваш Профиль</h1>
  <div class="user_info">
    <div class="profile_image">
      <div class="user_image"></div>
      <div class="button">Сменить аввтврку</div>
    </div>
    <ul class="user_data">
      <h2>Информация</h2>
      <li>
        <div class="data">
          <div class="name" #name>Катя</div>
          <hr>
          <div class="label">Ваше Имя</div>
        </div>
        <div class="button">Сменить Имя</div>
      </li>
      <li>
        <div class="data">
          <div class="name" #surname>Шорсткина</div>
          <hr>
          <div class="label">Ваше Фамилия</div>
        </div>
        <div class="button">Сменить Фамилию</div>
      </li>
      <li>
        <div class="data">
          <div class="name" #email>andrejs232@gmail.com</div>
          <hr>
          <div class="label">Ваш Е-майл</div>
        </div>
        <div class="button">Сменить Е-майл</div>
      </li>
      <li>
        <div class="data">
          <div class="name">**************</div>
          <hr>
          <div class="label">Ваше Пароль</div>
        </div>
        <div class="button">Сменить Пароль</div>
      </li>
    </ul>
  </div>

<section class="comments">

  <h2 class="section_name">Ваши коментарии</h2>

  <ul class="comment_list">
    <li class="comment">
      <div class="label">
        <img src="/assets/img/blog/eco_section.jpg" alt="article_image" class="article_image">
        <h2>Реструктуризация финансовых рынков</h2>
      </div>
      <div class="comment_body">
        С другой стороны выбранный нами инновационный путь требует от нас анализа системы масштабного изменения ряда
        параметров. Дорогие друзья, консультация с профессионалами из IT представляет собой интересный эксперимент
        проверки позиций, занимаемых участниками в отношении поставленных задач! Не следует, однако, забывать о том, что
        социально-экономическое развитие влечет за собой процесс внедрения и модернизации системы масштабного изменения
        ряда параметров.
      </div>
    </li>

    <li class="comment">
      <div class="label">
        <img src="/assets/img/blog/eco_section.jpg" alt="article_image" class="article_image">
        <h2>Реструктуризация финансовых рынков</h2>
      </div>
      <div class="comment_body">
        С другой стороны выбранный нами инновационный путь требует от нас анализа системы масштабного изменения ряда
        параметров. Дорогие друзья, консультация с профессионалами из IT представляет собой интересный эксперимент
        проверки позиций, занимаемых участниками в отношении поставленных задач! Не следует, однако, забывать о том, что
        социально-экономическое развитие влечет за собой процесс внедрения и модернизации системы масштабного изменения
        ряда параметров.
      </div>
    </li>

    <li class="comment">
      <div class="label">
        <img src="/assets/img/blog/eco_section.jpg" alt="article_image" class="article_image">
        <h2>Реструктуризация финансовых рынков</h2>
      </div>
      <div class="comment_body">
        С другой стороны выбранный нами инновационный путь требует от нас анализа системы масштабного изменения ряда
        параметров. Дорогие друзья, консультация с профессионалами из IT представляет собой интересный эксперимент
        проверки позиций, занимаемых участниками в отношении поставленных задач! Не следует, однако, забывать о том, что
        социально-экономическое развитие влечет за собой процесс внедрения и модернизации системы масштабного изменения
        ряда параметров.
      </div>
    </li>

    <li class="comment">
      <div class="label">
        <img src="/assets/img/blog/eco_section.jpg" alt="article_image" class="article_image">
        <h2>Реструктуризация финансовых рынков</h2>
      </div>
      <div class="comment_body">
        С другой стороны выбранный нами инновационный путь требует от нас анализа системы масштабного изменения ряда
        параметров. Дорогие друзья, консультация с профессионалами из IT представляет собой интересный эксперимент
        проверки позиций, занимаемых участниками в отношении поставленных задач! Не следует, однако, забывать о том, что
        социально-экономическое развитие влечет за собой процесс внедрения и модернизации системы масштабного изменения
        ряда параметров.
      </div>
    </li>
  </ul>
</section>
</div>
