<div class="wrapper">
  <div class="demo-content">
    <figure class="img-box">
      <img alt="sample54" src="./../../assets/img/greenslv.jpg">
      <figcaption>
        <h3 i18n='@@portfo_header_1'>greens.lv/greens-life.ru</h3>
        <p i18n='@@portfo_desc_1'>It is 2 web sites for pharmaceutical company. My role was design and coding front-end and partially back-end
          . Me aim was to simplify hard information about the product and make it possible to understand the basics
          concepts about the product in 5 min time of visiting the web site by using UI and UX skills. Also, We was
          using “pug” and “sass” on frontend and “Node.js” with “express” on the beck-end of development.</p>
        <button class="learn-more" onclick="location.href='http://www.greens.lv'" >
          <div class="circle">
            <span class="icon arrow"></span>
          </div>
          <p class="button-text" i18n='@@portfo_button'>MORE</p>
        </button>
      </figcaption><a target="_blank"></a>
    </figure>
    <figure class="img-box">
      <img alt="sample54" src="./../../assets/img/lazarus.jpg">
      <figcaption>
        <h3 i18n='@@portfo_header_2'>Lazarus</h3>
        <p i18n='@@portfo_desc_2'>It’s my own web site portfolio and resume. All front-end was done on Angular with Angular Material framework,
          SASS and ExJs for front-end logic. All back-end part was done with Node.js with Express framework and as a
          data-base for blog and admin menu was taken MongoDb</p>
        <button class="learn-more" onclick="location.href='http://www.greens.lv'">
          <div class="circle">
            <span class="icon arrow"></span>
          </div>
          <p class="button-text" i18n='@@portfo_button'>MORE</p>
        </button>
      </figcaption><a target="_blank"></a>
    </figure>
    <figure class="img-box">
      <img alt="sample54" src="./../../assets/img/asinfo.jpg">
      <figcaption>
        <h3 i18n='@@portfo_header_2'>asinfo.me</h3>
        <p i18n='@@portfo_desc_2'>It’s my own web site portfolio and resume. All front-end was done on Angular with Angular Material framework,
          SASS and ExJs for front-end logic. All back-end part was done with Node.js with Express framework and as a
          data-base for blog and admin menu was taken MongoDb</p>
        <button class="learn-more" onclick="location.href='http://www.greens.lv'">
          <div class="circle">
            <span class="icon arrow"></span>
          </div>
          <p class="button-text" i18n='@@portfo_button'>MORE</p>
        </button>
      </figcaption><a target="_blank"></a>
    </figure>
  </div>
</div>
