<div class="page_admin">

    <section class="edit_section" *ngIf="editOnOff">
    <form [formGroup]="editForm" (ngSubmit)="onEdit()">
      <div *ngIf="editmode === 'user'">
        <mat-label>{{ editName }}</mat-label>
        <input matInput [placeholder]="'Введите ' + editName" [value]='editValue' formControlName="userFullName">
        <mat-error *ngIf="!editForm.get('userFullName').valid && editForm.get('userFullName').touched">Данные введины не
          верно</mat-error>
      </div>

      <div *ngIf="editmode === 'deleteArticle' || editmode === 'deleteUser'">
        <h4 *ngIf="editmode === 'deleteArticle'">Подтвердите удаление статьи '{{ editName }}'</h4>
        <h4 *ngIf="editmode === 'deleteUser'">Подтвердите удаление пользователя '{{ editName }}'</h4>
        <button mat-stroked-button *ngIf="editmode === 'deleteArticle'" color="primary" (click)="onDeleteArticle(editId)">Удалить </button>
        <button mat-stroked-button *ngIf="editmode === 'deleteUser'" color="primary" (click)="onDeleteUser(editId)">Удалить </button>
        <button mat-stroked-button color="primary" (click)="editFormCloseOpen(false)">Отмена </button>
      </div>
    </form>
  </section>

  <h1>Панель адменистратора</h1>

  <section class="users">
    <h2 class="label_sub_group">Работа с пользователями</h2>
    <div class="action">
      <div class="user_list">
        <div class="label_line">
          <h3>Список пользователей</h3>
          <mat-form-field class="searech-line">
            <mat-label>Страка поиска</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class="user_list_area">
          <ul>
            <li class="user" *ngFor="let el of userList">
              <div class="name">
                <h2 >{{el.email}}</h2>
                <hr>
              </div>
              <div class="button button_edit">E</div>
              <!-- <div class="button button_comments">C</div> -->
              <div class="button button_ban" (click)="editFormCloseOpen(true, el.email, 'deleteUser', el.email)">D</div>
            </li>
          </ul>
        </div>
      </div>
      <div class="user_list ban_list">
        <div class="label_line">
          <h3>Забаненные пользователи</h3>
          <mat-form-field class="searech-line">
            <mat-label>Страка поиска</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
        <div class="user_list_area">
          <ul>
            <li class="user">
              <div class="name">
                <h2>Nikita2322</h2>
                <hr>
              </div>
              <div class="button button_forgive">F</div>
              <div class="button button_delete">D</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="articles">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Список статей
        </mat-panel-title>
        <mat-panel-description>
          Список всех статей
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <mat-label>Фильтр по статьям</mat-label>
        <mat-select [(value)]="selectedGenre" #genreFilter>
          <mat-option value="{{genre.name}}" *ngFor="let genre of genreList">
            {{genre.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <ul class="article_list">
        <li class="article" *ngFor="let el of articleList">
          <div class="article_name">{{el.name}}</div>
          <div class="button button_edit"
           (click) = "editArticle(el.name, el.text, el.articleGenre, expansion)">E</div>
          <div class="button button_delete" (click)="editFormCloseOpen(true, el.name, 'deleteArticle', el._id)">D</div>
          <hr>
        </li>
      </ul>
    </mat-expansion-panel>
  </section>

  <section class="add_article" #expansion>
    <mat-expansion-panel #MatExpansionPanel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ mat_title}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="add_section" [formGroup]="addArticleForm" >
        <div class="upper">
          <mat-form-field class="article_name">
            <mat-label>Название статьи</mat-label>
            <input matInput placeholder="Введите название"  formControlName="name">
          </mat-form-field>
          <mat-form-field class="article_filter">
            <mat-label>Выберете раздел</mat-label>
            <mat-select [(value)]="selectedGenre" formControlName="genre">
              <mat-option value="{{genre.name}}" *ngFor="let genre of genreList">
                {{genre.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="mytextarea">
          <mat-form-field appearance="fill" >
            <mat-label>Текст статьи</mat-label>
            <textarea matInput formControlName="textArea"></textarea>
          </mat-form-field>
        </div>
        <div class="lower">
          <button class="button" (click) = "filePicker.click()" mat-button>Выбери картинку</button>
          <input type="file" #filePicker (change) = "onImagePicked($event)">
          <button mat-button (click) = "addArticle()">Создать</button>
          <button mat-button *ngIf="editmode === 'editArticle'" (click) = "cancelEditArticle()">Отмена</button>
        </div>
      </div>
    </mat-expansion-panel>
  </section>

</div>
