<section class="Blog-intro">
  <h1>Блог</h1>
  <img src="" alt="decoration">
  <p>Товарищи! реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации соответствующий
    условий активизации.Товарищи! реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации
    соответствующий условий активизации.Товарищи! реализация намеченных плановых заданий влечет за собой процесс внедрения
    и модернизации соответствующий условий ак.</p>
</section>
<section class="blog-section">
  <div class="sec__header">
    <hr>
    <h2 i18n='@@title_1'>Раздел Блога</h2>
    <hr>
  </div>
  <app-blog-section-module></app-blog-section-module>
</section>
<section class="blog-section">
  <div class="sec__header">
    <hr>
    <h2 i18n='@@title_2'>Последнии статьи</h2>
    <hr>
  </div>
  <app-article-element></app-article-element>
</section>
