<section class="blog-intro">
  <strong><h1>Блог</h1></strong>
  <img src="/assets/img/blog/text_dec.png" alt="decoration">
  <p>Товарищи! реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации соответствующий
    условий активизации.Товарищи! реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации
    соответствующий условий активизации.Товарищи! реализация намеченных плановых заданий влечет за собой процесс внедрения
    и модернизации соответствующий условий ак.</p>
</section>
<section class="blog-category">
  <div class="sec__header">
    <hr>
    <h2 i18n='@@title_1'>Раздел Блога</h2>
    <hr>
  </div>
  <app-category></app-category>
</section>
<section class="blog-section">
  <div class="sec__header">
    <hr>
    <h2 i18n='@@title_2'>Последнии статьи</h2>
    <hr>
  </div>
  <app-article-element></app-article-element>
  <app-article-element></app-article-element>
  <app-article-element></app-article-element>
</section>
